* {
    margin: 0;
    padding: 0;
    border: none;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background: #000;
    margin: 0;
    padding: 0;
}

.bg-primary {
    background: #05172494 !important;
}

.bg-secondary {
    background: #329ef7a4 !important;
}


#playerBox {
    position: absolute;
    /* width: 600px; */
    left: 10px;
    zoom: 220%;
    /* height: 900px; */
    top: 10px;

    .card {
        width: 300px;
    }
}


#escMenu {
    position: absolute;
    /* width: 600px; */
    // left: 10px;
    zoom: 220%;
    /* height: 900px; */
    // top: 10px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .card {
        width: 320px;
    }
}